html {
	--thpwl:#222;
	--pjkby:#292929;
	--pvoqk:rgba(255,255,255,.1);
	--lherm:#d6d6d6;
	--vrozn:#609fff;
	--urdrl:#888;
	--ckzlh:#333;
	--gbpos:#2f2f2f;
	--ohmbp:#717171;
	--ozrng:#666;
	--wfuol:#666;
	--vfncy:#333;
	--mlfoh:#fff;
	--qfwlf:orange;
	--tstce:#777;
	--kefyv:#999;
	--ltyzd:#000;
	--jphmr:#aaa;
	--wdwfz:#666;
	--jyjof:#aaa;
	--ahucd:#c7c7c7;
	--gevwh:#222;
	--nzlsa:grayscale(.6);
	--hozyw:#3b7bbF;
	--qjkhw:#4CAF50;
}
html:not([dark="true"]):not([cs-fullscreen="true"]) {
	--thpwl:#f8f8f8;
	--pjkby:#dadada;
	--pvoqk:rgba(0,0,0,.29);
	--lherm:#111;
	--vrozn:#065fd4;
	--urdrl:#888;
	--ckzlh:#ddd;
	--gbpos:#eee;
	--ohmbp:#9f9f9f;
	--wfuol:#aaa;
	--vfncy:#ccc;
	--mlfoh:#222;
	--qfwlf:darkcyan;
	--tstce:#555;
	--kefyv:#e5e5e5;
	--jphmr:#222;
	--wdwfz:#ccc;
	--jyjof:crimson;
	--ahucd:#3b7bbF;
	--gevwh:#fff;
	--ketwj:#888;
	--nzlsa:none;
}
[hidden] {
	display:none !important;
}
cs-app {
	display:block;
	background:var(--thpwl);
	color:var(--lherm);
	position:fixed;
	z-index:9999999999;
	bottom:0;
	transform:translateZ(0);
	box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	font-size:14px;
	line-height:20px;
	cursor:default;
	font-family:Roboto,arial,sans-serif;
}
cs-app * {
	position:relative;
	box-sizing:border-box;
	outline:none !important;
	overflow:hidden;
}
cs-app a {
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
cs-app input,
cs-app img {
	width:100%;
}
cs-app svg {
	display:block;
	fill:currentColor;
	stroke:currentColor;
	stroke-width:0;
}
.korlo::-webkit-scrollbar {
	display:none !important;
}
.owtyi::after {
	content:"";
	display:block;
	width:100%;
	height:60%;
}
.poahq {
	user-select:none;
}
.nvuqi {
	user-select:text;
}
.twlsu {
	width:100%;
	height:100%;
}
.knyun {
	background:var(--thpwl);
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	user-select:none;
}
.nmfku {
	width:100%;
	height:100%;
}
.zngnu > *,
.layat {
	padding-top:56px;
}
.iqkna {
	overflow-y:scroll;
}
.iqkna::-webkit-scrollbar {
	display:none !important;
}
.djlsn {
	display:flex;
	height:100%;
	flex-flow:column;
}
.zwtmg {
	pointer-events:none;
	user-select:none;
}
.vwjew {
	color:inherit;
	background:none;
	border:none;
}
.lvacm {
	text-decoration:underline;
}
.wsonx {
	display:flex;
}
.hpmbo {
	display:flex;
	height:100%;
	flex-flow:column;
	align-items:center;
	text-align:center;
}
.ixgcs {
	display:flex;
	align-items:center;
	justify-content:center;
}
.qefgf {
	display:flex;
	align-items:center;
}
.cmkrg {
	display:flex;
	flex-flow:column;
}
.wglsw {
	flex-grow:1;
}
.okuoi {
	flex-shrink:0;
}
.jutgr {
	margin-top:auto;
}
.uxrfv {
	position:absolute;
	background-color:transparent;
	z-index:1;
}
.gadar {
	left:-4px;
}
.jeoyw {
	right:-4px;
}
.nftjl {
	width:10px;
	height:100%;
	cursor:ew-resize;
}
.rienw {
	top:0;
	height:20px;
	width:100%;
	cursor:move;
}
.eaxuh {
	z-index:2;
	top:-4px;
	height:8px;
	width:100%;
	cursor:ns-resize;
}
.ziwkx {
	z-index:3;
	top:-6px;
	width:16px;
	height:16px;
}
.fmwnd {
	left:-6px;
	cursor:nwse-resize;
}
.axeui {
	right:-6px;
	cursor:nesw-resize;
}
.sqlhl {
	opacity:.5;
	transition:opacity 300ms;
}
.sqlhl:hover {
	opacity:1;
}
.bxcje {
	z-index:1;
	position:absolute;
	top:16px;
	right:14px;
	height:24px;
	width:24px;
	padding:5px;
}
.xkytk {
	position:absolute;
	width:24px;
	height:24px;
	top:14px;
	left:15px;
	transition:visibility 300ms, opacity 300ms;
}
.xkytk[state="hidden"] {
	opacity:0;
	visibility:hidden;
}
.dtjqh {
	height:56px;
	padding-right:44px;
	background-color:var(--pjkby);
	padding-left:20px;
}
.dtjqh input {
	flex:1;
	font-size:16px;
}
.dtjqh input::placeholder {
	color:var(--pvoqk);
	-webkit-font-smoothing:antialiased;
	font-size:15px;
}
.dtjqh input:focus::placeholder {
	opacity:0;
}
.dtjqh input:not(:focus)::placeholder {
	opacity:1;
	transition:opacity 250ms ease-in;
}
.apcso {
	border-bottom:2px solid;
	border-radius:4px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	padding:2px 5px 0;
	min-width:31px;
	font-size:12px;
	text-align:center;
	transition:border-color 250ms, color 250ms;
	background-color:var(--vfncy);
	border-color:var(--qfwlf);
	color:var(--mlfoh);
	opacity:.7;
}
.apcso:hover {
	opacity:1;
}
.apcso[state="disabled"] {
	color:var(--tstce);
	border-color:#0000;
	border-radius:4px;
	opacity:1;
}
.twowh {
	margin-top:16px;
	padding-left:20px;
	padding-right:40px;
}
.gzucj {
	padding-bottom:20px;
	user-select:text;
}
.gzucj:not(:first-child) {
	margin-left:56px;
}
.gzucj:not(:first-child) .yctfr {
	width:24px;
	height:24px;
}
.hxtlf:before {
	content:"";
	display:block;
	height:100%;
	width:2px;
	background:var(--ckzlh);
	position:absolute;
	left:11px;
}
.gzucj.konqm {
	display:none;
}
.yctfr {
	background-color:var(--gbpos);
	background-size:100%;
	width:40px;
	height:40px;
	margin-right:16px;
	border-radius:50%;
}
.vmlap {
	display:inline-block;
	color:inherit;
	font-weight:500;
	line-height:18px;
}
.fvzms {
	fill:var(--ohmbp);
	width:13px;
	height:13px;
	margin-top:2px;
	margin-left:4px;
}
.kzjsc {
	color:var(--urdrl);
	line-height:18px;
	margin-left:6px;
}
.kzjsc:hover {
	color:inherit;
}
.kdnec .kzjsc {
	display:none;
}
.gnieb {
	width:auto;
	height:auto;
	display:-webkit-box;
	word-break: break-word;
}
.gnieb[dir="rtl"] {
	-webkit-box-orient:vertical;
	-webkit-box-align:end;
}
.gnieb:lang(ar) {
	font-family:sans-serif;
	font-size:medium;
}
.gnieb a {
	color:var(--vrozn);
}
.wurba {
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	word-break:break-word;
}
.vxeni {
	height:20px;
	margin-bottom:2px;
	font-size:13px;
	line-height:normal;
}
.ufkgy {
	padding:20px;
	text-align:center;
}
.ufkgy a {
	text-decoration:underline;
}
.lkhgo {
	background:#000;
	margin-top:12px;
	padding-bottom:56.25%;
}
.tvtom {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.yaujc {
	color:var(--jphmr);
	padding:56px 20px;
	padding-right:38px;
}
.qlocj {
	margin-bottom:15px;
}
.xkokz {
	margin-bottom:15px;
}
.ysvfq {
	margin-bottom:7px;
}
.xdrvu {
	padding-left:25px;
}
.xdrvu div {
	margin-bottom:2px;
}
.izclk {
	display:inline;
	background-color:var(--kefyv);
	color:var(--ltyzd);
	border-radius:2px;
	letter-spacing:1px;
	padding:1px 6px 2px;
	margin:0 3px;
	line-height:normal;
	font-size:smaller;
	font-family:monospace;
}
.thpio {
	max-width:500px;
	padding:0 40px;
	margin:auto;
}
.thpio > * {
	flex-shrink:0;
}
.prhiq {
	margin-bottom:12px;
	font-size:20px;
}
.scykg {
	width:325px;
	margin:10px 0;
	filter:var(--nzlsa);
}
.aurfr {
	margin: 10px;
	font-size: small;
	font-style: italic;
}
.ububr {
	width:100%;
	margin-top:15px;
	text-align:center;
}
.kpuxz input {
	border-bottom:1px solid;
	padding-bottom:4px;
	font-size:15px;
	text-align:center;
	border-color:var(--wdwfz);
}
.vfkvp {
	height:20px;
	padding:1px;
	font-size:smaller;
	color:var(--jyjof);
}
.guzhz {
	position:absolute;
	bottom:0;
	height:1px;
	width:100%;
	background-color:none;
}
.guzhz[state="loading"],
.guzhz[state="waiting"] {
	height:2px;
	background-color:var(--ahucd);
}
.guzhz[state="loading"] {
	animation:progress 1s ease infinite;
}
.guzhz[state="waiting"] {
	width:33%;
	animation:progressWaiting 2s linear infinite;
}
.guzhz[state="error"] {
	background-color:var(--jyjof);
}
.vqutv {
	top:0;
	height:2px !important;
}
.vqutv[state="error"] {
	background-color:crimson;
}
@keyframes progress {
	0%		{ left:0%; width:0% }
	25%		{ left:0%; width:33% }
	75%		{ left:33%; width:60% }
	100%	{ left:100%; width:50% }
}
@keyframes progressWaiting {
	0%		{ left:-33% }
	100%	{ left:100% }
}
@keyframes wiggle {
	10%, 90% {
		transform:translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform:translate3d(4px, 0, 0);
	}
	30%, 50%, 70% {
		transform:translate3d(-6px, 0, 0);
	}
	40%, 60% {
		transform:translate3d(6px, 0, 0);
	}
}
.cmrob {
	animation:wiggle 0.5s;
}
.bkrah {
	display:flex;
	align-items:center;
	justify-content:center;
	height:38px;
	padding:0 18px;
	border-radius:3px;
	border:1px solid;
	border-color:var(--ahucd);
	color:var(--ahucd);
	transition:filter 200ms;
}
.bkrah:last-child {
	border:none;
	background-color:var(--ahucd);
	color:var(--gevwh);
}
.bkrah:hover {
	filter:brightness(.9);
}
.bkrah:active {
	filter:brightness(.8);
}
.bkrah[state="disabled"] {
	background-color:var(--ketwj);
}
.bkrah .ymsvt {
	width:20px;
	height:20px;
	margin-left:5px;
}
.stpft {
	display:flex;
	justify-content:center;
	padding:0 20px;
	height:38px;
	margin:20px auto 25px;
	margin-top:16px;
}
.stpft .bkrah {
	margin-right:10px;
}
.stpft .bkrah:last-child {
	margin-right:0;
}
.ndxth {
	width:140px;
	margin-top:25px;
	margin-left:-10px;
}
.vqtsv {
	height:30px;
	font-size:26px;
}
.hrqwl {
	height:20px;
}
.lujpj {
	display:flex;
	align-items:center;
	justify-content:center;
	width:44px;
	border:1px solid;
	border-right-width:0;
	border-color:var(--wfuol);
	font-size:14px;
}
.lujpj:first-child {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.lujpj:last-child {
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-right-width:1px;
}
.lujpj[state="selected"] {
	border:none;
	background-color:var(--ahucd);
	color:var(--gevwh);
}
.umnkq {
	margin-top:4px;
	padding-top:1px;
	font-size:12px;
}
.fyrtj {
	background-color:var(--hozyw) !important;
	color:#fff !important;
	width:240px;
	border-radius:25px;
}
.oewfm {
	background-color:var(--qjkhw) !important;
	transition:background-color 500ms;
}
.ozaba {
	overflow:visible;
}
.tytde {
	margin-top:20px;
}