html {
	--bybpd:#222;
	--xorhq:#292929;
	--rtliy:rgba(255,255,255,.1);
	--vjcih:#d6d6d6;
	--htbyp:#609fff;
	--svjtx:#888;
	--zxkfy:#333;
	--pqugx:#2f2f2f;
	--xrbix:#717171;
	--walrg:#666;
	--zwgpe:#666;
	--eoumq:#333;
	--jykfm:#fff;
	--cmsiu:orange;
	--gdrue:#777;
	--tjohc:#999;
	--utyhf:#000;
	--ybgje:#aaa;
	--rixds:#666;
	--iasew:#aaa;
	--xpasm:#c7c7c7;
	--rhsjc:#222;
	--nubcy:grayscale(.6);
	--sfuog:#3b7bbF;
	--zsrvr:#4CAF50;
}
html:not([dark="true"]):not([cs-fullscreen="true"]) {
	--bybpd:#f8f8f8;
	--xorhq:#dadada;
	--rtliy:rgba(0,0,0,.29);
	--vjcih:#111;
	--htbyp:#065fd4;
	--svjtx:#888;
	--zxkfy:#ddd;
	--pqugx:#eee;
	--xrbix:#9f9f9f;
	--zwgpe:#aaa;
	--eoumq:#ccc;
	--jykfm:#222;
	--cmsiu:darkcyan;
	--gdrue:#555;
	--tjohc:#e5e5e5;
	--ybgje:#222;
	--rixds:#ccc;
	--iasew:crimson;
	--xpasm:#3b7bbF;
	--rhsjc:#fff;
	--bjptn:#888;
	--nubcy:none;
}
[hidden] {
	display:none !important;
}
cs-app {
	display:block;
	background:var(--bybpd);
	color:var(--vjcih);
	position:fixed;
	z-index:9999999999;
	bottom:0;
	transform:translateZ(0);
	box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	font-size:14px;
	line-height:20px;
	cursor:default;
	font-family:Roboto,arial,sans-serif;
}
cs-app * {
	position:relative;
	box-sizing:border-box;
	outline:none !important;
	overflow:hidden;
}
cs-app a {
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
cs-app input,
cs-app img {
	width:100%;
}
cs-app svg {
	display:block;
	fill:currentColor;
	stroke:currentColor;
	stroke-width:0;
}
.nplpb::-webkit-scrollbar {
	display:none !important;
}
.oxkpj::after {
	content:"";
	display:block;
	width:100%;
	height:60%;
}
.nrnck {
	user-select:none;
}
.lyimh {
	user-select:text;
}
.xknpo {
	width:100%;
	height:100%;
}
.ysxio {
	background:var(--bybpd);
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	user-select:none;
}
.fejwg {
	width:100%;
	height:100%;
}
.nwdkg > *,
.ftdxq {
	padding-top:56px;
}
.duhbc {
	overflow-y:scroll;
}
.duhbc::-webkit-scrollbar {
	display:none !important;
}
.ejgdo {
	display:flex;
	height:100%;
	flex-flow:column;
}
.shzly {
	pointer-events:none;
	user-select:none;
}
.ifhlp {
	color:inherit;
	background:none;
	border:none;
}
.khqku {
	text-decoration:underline;
}
.jkvtu {
	display:flex;
}
.hyzkp {
	display:flex;
	height:100%;
	flex-flow:column;
	align-items:center;
	text-align:center;
}
.spncj {
	display:flex;
	align-items:center;
	justify-content:center;
}
.pused {
	display:flex;
	align-items:center;
}
.slhzx {
	display:flex;
	flex-flow:column;
}
.wzbag {
	flex-grow:1;
}
.hnlau {
	flex-shrink:0;
}
.dhwue {
	margin-top:auto;
}
.pngnf {
	position:absolute;
	background-color:transparent;
	z-index:1;
}
.wkaqy {
	left:-4px;
}
.xmqot {
	right:-4px;
}
.itedw {
	width:10px;
	height:100%;
	cursor:ew-resize;
}
.wijfe {
	top:0;
	height:20px;
	width:100%;
	cursor:move;
}
.szghu {
	z-index:2;
	top:-4px;
	height:8px;
	width:100%;
	cursor:ns-resize;
}
.udecm {
	z-index:3;
	top:-6px;
	width:16px;
	height:16px;
}
.pmyxf {
	left:-6px;
	cursor:nwse-resize;
}
.tscnt {
	right:-6px;
	cursor:nesw-resize;
}
.wmosh {
	opacity:.5;
	transition:opacity 300ms;
}
.wmosh:hover {
	opacity:1;
}
.cbwxz {
	z-index:1;
	position:absolute;
	top:16px;
	right:14px;
	height:24px;
	width:24px;
	padding:5px;
}
.rezer {
	position:absolute;
	width:24px;
	height:24px;
	top:14px;
	left:15px;
	transition:visibility 300ms, opacity 300ms;
}
.rezer[state="hidden"] {
	opacity:0;
	visibility:hidden;
}
.bebrc {
	height:56px;
	padding-right:44px;
	background-color:var(--xorhq);
	padding-left:20px;
}
.bebrc input {
	flex:1;
	font-size:16px;
}
.bebrc input::placeholder {
	color:var(--rtliy);
	-webkit-font-smoothing:antialiased;
	font-size:15px;
}
.bebrc input:focus::placeholder {
	opacity:0;
}
.bebrc input:not(:focus)::placeholder {
	opacity:1;
	transition:opacity 250ms ease-in;
}
.ratgc {
	border-bottom:2px solid;
	border-radius:4px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	padding:2px 5px 0;
	min-width:31px;
	font-size:12px;
	text-align:center;
	transition:border-color 250ms, color 250ms;
	background-color:var(--eoumq);
	border-color:var(--cmsiu);
	color:var(--jykfm);
	opacity:.7;
}
.ratgc:hover {
	opacity:1;
}
.ratgc[state="disabled"] {
	color:var(--gdrue);
	border-color:#0000;
	border-radius:4px;
	opacity:1;
}
.zihzh {
	margin-top:16px;
	padding-left:20px;
	padding-right:40px;
}
.palye {
	padding-bottom:20px;
	user-select:text;
}
.palye:not(:first-child) {
	margin-left:56px;
}
.palye:not(:first-child) .ufujo {
	width:24px;
	height:24px;
}
.hmlvw:before {
	content:"";
	display:block;
	height:100%;
	width:2px;
	background:var(--zxkfy);
	position:absolute;
	left:11px;
}
.palye.vxarm {
	display:none;
}
.ufujo {
	background-color:var(--pqugx);
	background-size:100%;
	width:40px;
	height:40px;
	margin-right:16px;
	border-radius:50%;
}
.gsjfw {
	display:inline-block;
	color:inherit;
	font-weight:500;
	line-height:18px;
}
.qblex {
	fill:var(--xrbix);
	width:13px;
	height:13px;
	margin-top:2px;
	margin-left:4px;
}
.iwufe {
	color:var(--svjtx);
	line-height:18px;
	margin-left:6px;
}
.iwufe:hover {
	color:inherit;
}
.xyxsf .iwufe {
	display:none;
}
.psdzc {
	width:auto;
	height:auto;
	display:-webkit-box;
	word-break: break-word;
}
.psdzc[dir="rtl"] {
	-webkit-box-orient:vertical;
	-webkit-box-align:end;
}
.psdzc:lang(ar) {
	font-family:sans-serif;
	font-size:medium;
}
.psdzc a {
	color:var(--htbyp);
}
.qizbz {
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	word-break:break-word;
}
.powku {
	height:20px;
	margin-bottom:2px;
	font-size:13px;
	line-height:normal;
}
.bnqpc {
	padding:20px;
	text-align:center;
}
.bnqpc a {
	text-decoration:underline;
}
.lmzux {
	background:#000;
	margin-top:12px;
	padding-bottom:56.25%;
}
.rvhzc {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.ptdes {
	color:var(--ybgje);
	padding:56px 20px;
	padding-right:38px;
}
.otafi {
	margin-bottom:15px;
}
.gdjpa {
	margin-bottom:15px;
}
.hcltf {
	margin-bottom:7px;
}
.ufjrt {
	padding-left:25px;
}
.ufjrt div {
	margin-bottom:2px;
}
.phyxt {
	display:inline;
	background-color:var(--tjohc);
	color:var(--utyhf);
	border-radius:2px;
	letter-spacing:1px;
	padding:1px 6px 2px;
	margin:0 3px;
	line-height:normal;
	font-size:smaller;
	font-family:monospace;
}
.vtxgo {
	max-width:500px;
	padding:0 40px;
	margin:auto;
}
.vtxgo > * {
	flex-shrink:0;
}
.tvuql {
	margin-bottom:12px;
	font-size:20px;
}
.puhkn {
	width:325px;
	margin:10px 0;
	filter:var(--nubcy);
}
.yfaol {
	margin: 10px;
	font-size: small;
	font-style: italic;
}
.xwlbh {
	width:100%;
	margin-top:15px;
	text-align:center;
}
.aqduv input {
	border-bottom:1px solid;
	padding-bottom:4px;
	font-size:15px;
	text-align:center;
	border-color:var(--rixds);
}
.ohieg {
	height:20px;
	padding:1px;
	font-size:smaller;
	color:var(--iasew);
}
.vienw {
	position:absolute;
	bottom:0;
	height:1px;
	width:100%;
	background-color:none;
}
.vienw[state="loading"],
.vienw[state="waiting"] {
	height:2px;
	background-color:var(--xpasm);
}
.vienw[state="loading"] {
	animation:progress 1s ease infinite;
}
.vienw[state="waiting"] {
	width:33%;
	animation:progressWaiting 2s linear infinite;
}
.vienw[state="error"] {
	background-color:var(--iasew);
}
.oailk {
	top:0;
	height:2px !important;
}
.oailk[state="error"] {
	background-color:crimson;
}
@keyframes progress {
	0%		{ left:0%; width:0% }
	25%		{ left:0%; width:33% }
	75%		{ left:33%; width:60% }
	100%	{ left:100%; width:50% }
}
@keyframes progressWaiting {
	0%		{ left:-33% }
	100%	{ left:100% }
}
@keyframes wiggle {
	10%, 90% {
		transform:translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform:translate3d(4px, 0, 0);
	}
	30%, 50%, 70% {
		transform:translate3d(-6px, 0, 0);
	}
	40%, 60% {
		transform:translate3d(6px, 0, 0);
	}
}
.axngo {
	animation:wiggle 0.5s;
}
.suaog {
	display:flex;
	align-items:center;
	justify-content:center;
	height:38px;
	padding:0 18px;
	border-radius:3px;
	border:1px solid;
	border-color:var(--xpasm);
	color:var(--xpasm);
	transition:filter 200ms;
}
.suaog:last-child {
	border:none;
	background-color:var(--xpasm);
	color:var(--rhsjc);
}
.suaog:hover {
	filter:brightness(.9);
}
.suaog:active {
	filter:brightness(.8);
}
.suaog[state="disabled"] {
	background-color:var(--bjptn);
}
.suaog .lvjwi {
	width:20px;
	height:20px;
	margin-left:5px;
}
.oaosw {
	display:flex;
	justify-content:center;
	padding:0 20px;
	height:38px;
	margin:20px auto 25px;
	margin-top:16px;
}
.oaosw .suaog {
	margin-right:10px;
}
.oaosw .suaog:last-child {
	margin-right:0;
}
.gufeg {
	width:140px;
	margin-top:25px;
	margin-left:-10px;
}
.eznqz {
	height:30px;
	font-size:26px;
}
.mvpkt {
	height:20px;
}
.fwtyb {
	display:flex;
	align-items:center;
	justify-content:center;
	width:44px;
	border:1px solid;
	border-right-width:0;
	border-color:var(--zwgpe);
	font-size:14px;
}
.fwtyb:first-child {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.fwtyb:last-child {
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-right-width:1px;
}
.fwtyb[state="selected"] {
	border:none;
	background-color:var(--xpasm);
	color:var(--rhsjc);
}
.hsprt {
	margin-top:4px;
	padding-top:1px;
	font-size:12px;
}
.wnwtm {
	background-color:var(--sfuog) !important;
	color:#fff !important;
	width:240px;
	border-radius:25px;
}
.liype {
	background-color:var(--zsrvr) !important;
	transition:background-color 500ms;
}
.lqixh {
	overflow:visible;
}
.ocutb {
	margin-top:20px;
}